body {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-family: Lobster;
  font-size: 70px;
  text-align: center;
}

h3 {
  margin: 20px 10px 10px 10px;
}

.session-length,
.break-length,
.controls {
  display: inline-block;
  text-align: center;
}

.controls {
  margin: 20px;
}

.control-panel {
  text-align: center;
  width: 100%;
}

.title {
  font-family: Lobster;
}

#circle {
  background: green;
  border: 8px black solid;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  height: 450px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  width: 450px;
}

#circle span {
  display: inline-block;
  height: 450px;
  zoom: 0.25;
}

.plus-minus-button {
  cursor: pointer;
}

.buttons {
  text-align: center;
}

.btn {
  font-weight: bold;
  height: 80px;
  margin: 20px;
  width: 80px;
}
